.container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em;
}

.card{
	height: max-content;
}

#bottom_pagination {
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
}

#Comment {
	width: 100%;
}

#ModalBody {
	padding: 0;
}

.share-btn {
	height: 1.5rem;
}