.mask-icon {
    width: 100%;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

#video {
    position: relative;
    backface-visibility: hidden;
    text-align: center;
    z-index: 1;
}

#upload_field {
    text-align: center; 
    margin: 1rem;
}

.buttons {
    display: flex;
    justify-content: center;
}

#webcam{
    z-index: 2;
}

.live-mask {
    margin-left: -600;
    position: absolute;
}

#photo {
    width: 600px;
    height: 450px;
    z-index: 2;
}

.output {
    text-align: center;
}

.buttons, #mask-bar {
    margin: 1rem;
}

.shotImages {
    margin: 0.2rem;
}

.singleImage {
    position: relative;
}

.singleImage:hover > img {
    opacity: 0.4;
}

.singleImage:hover > .deleteButton {
    opacity: 1;
}
.deleteButton {
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 0;
}

#side-bar {
    height: 800px;
    overflow-y: auto;
    background-color: lightgray;
    opacity: 0.95;
}

#mainblock {
    background-color: lightgray;
    opacity: 0.95;
}

h1 {
    padding: 30px;
}

#footer {
	background-color: gray;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	padding: 10px;
}
.bg {
    background-image: url("../img/venise.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}